**/*.swp
**/pkg
**/src
**/*.part
**/*.zip
**/*.zip.sig
**/*.pkg.tar.xz
**/*.pkg.tar
**/*.tar.gz
**/*linux-amd64
rtags/rtags
rtags/packed-refs
rtags/objects
bootkube/bootkube
container-linux-config-transpiler/ct-*-unknown-linux-gnu
terraform/terraform
k8s-bin/coredns.yaml.sed
kubectl-bin/kubernetes
go-langserver/go-langserver
