[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=network.target

[Service]
Environment=IP_INT=10.1.1.1

ExecStart=/usr/bin/hyperkube apiserver \
    --bind-address=${IP_INT} \
    --advertise-address=${IP_INT} \
    --secure-port=443 \
    \
    --etcd-servers=https://${IP_INT}:2379 \
    --etcd-cafile=/etc/kubernetes/tls/ca.crt \
    --storage-backend=etcd3 \
    \
    --tls-cert-file=/etc/kubernetes/tls/apiserver.crt \
    --tls-private-key-file=/etc/kubernetes/tls/apiserver.key \
    --service-account-key-file=/etc/kubernetes/tls/service-account.pub \
    \
    --client-ca-file=/etc/kubernetes/tls/ca.crt \
    --kubelet-client-certificate=/etc/kubernetes/tls/kubelet.crt \
    --kubelet-client-key=/etc/kubernetes/tls/kubelet.key \
    \
    --authorization-mode=RBAC \
    --anonymous-auth=false \
    --allow-privileged=true \
    --enable-admission-plugins=NamespaceLifecycle,LimitRanger,ServiceAccount,DefaultStorageClass,ResourceQuota \
    \
    --service-cluster-ip-range=10.3.0.0/16 \
    \
    --feature-gates=PersistentLocalVolumes=true \
    \
    --requestheader-client-ca-file=/etc/kubernetes/tls/agg-ca.crt \
    --proxy-client-cert-file=/etc/kubernetes/tls/proxy-client.crt \
    --proxy-client-key-file=/etc/kubernetes/tls/proxy-client.key \
    --requestheader-allowed-names=proxy-client \
    --requestheader-extra-headers-prefix=X-Remote-Extra- \
    --requestheader-group-headers=X-Remote-Group \
    --requestheader-username-headers=X-Remote-User

Type=notify
LimitNOFILE=65536
