[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=network.target

[Service]
Environment=IP_INT=10.1.1.1

ExecStart=/usr/bin/hyperkube apiserver \
    --bind-address=${IP_INT} \
    --advertise-address=${IP_INT} \
    --secure-port=443 \
    --insecure-port=0 \
    \
    --etcd-quorum-read=true \
    --etcd-servers=http://${IP_INT}:2379 \
    --storage-backend=etcd3 \
    \
    --tls-ca-file=/etc/kubernetes/tls/ca.crt \
    --tls-cert-file=/etc/kubernetes/tls/apiserver.crt \
    --tls-private-key-file=/etc/kubernetes/tls/apiserver.key \
    --service-account-key-file=/etc/kubernetes/tls/service-account.pub \
    \
    --client-ca-file=/etc/kubernetes/tls/ca.crt \
    --kubelet-client-certificate=/etc/kubernetes/tls/kubelet.crt \
    --kubelet-client-key=/etc/kubernetes/tls/kubelet.key \
    \
    --authorization-mode=RBAC \
    --anonymous-auth=false \
    --allow-privileged=true \
    --admission-control=NamespaceLifecycle,LimitRanger,ServiceAccount,DefaultStorageClass,ResourceQuota \
    \
    --service-cluster-ip-range=10.3.0.0/16

Type=notify
LimitNOFILE=65536
