[Unit]
Description=Kubernetes proxy
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=apiserver.service

[Service]
Environment=IP_INT=10.1.1.1

ExecStart=/usr/bin/hyperkube proxy \
    --bind-address=${IP_INT} \
    --hostname-override ${IP_INT} \
    --kubeconfig /etc/kubernetes/tls/kubeconfig \
    --cluster-cidr 10.2.0.0/16

Restart=on-failure
# Type=notify # hyperkube seems not to signal
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
