[Unit]
Description=Kubernetes scheduler
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=apiserver.service

[Service]
Environment=IP_INT=10.1.1.1

ExecStart=/usr/bin/hyperkube scheduler \
    --address ${IP_INT} \
    --kubeconfig /etc/kubernetes/tls/kubeconfig \
    --leader-elect

Restart=on-failure
# Type=notify # hyperkube seems not to signal
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
